# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on: [push]


# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: windows-latest

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
        name: Checkout Code
      
      - name: Setup MSBuild Path
        uses: warrenbuckley/Setup-MSBuild@v1
    
      - name: Setup Nuget
        uses: NuGet/setup-nuget@v1.0.2
        
      - name: Restore NuGet Packages
        run: nuget restore GHActionsCI.sln
      
      - name: Build
        run: msbuild GHActionsCI.sln /p:Configuration=Release
      
      - name: Upload artifact
        uses: actions/upload-artifact@v1.0.0
        with:
          name: publishRelease
          path: bin\Release\  
